<div class="sidebar-container">
  <div class="brand-logo">
    <img src="assets/images/logo.png" alt="Retrofit Logo">
    <h2>Retrofit Manager</h2>
  </div>

  <nav class="nav-menu">
    <p class="menu-label">OPERACIONES</p>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fa-solid fa-border-all"></i> Dashboard</a></li>
      <li><a routerLink="/portafolio" routerLinkActive="active"><i class="fa-solid fa-suitcase"></i> Portafolio</a></li>
      <li><a href="#"><i class="fa-regular fa-calendar-check"></i> Avance Diario</a></li>
      <li><a href="#"><i class="fa-solid fa-helmet-safety"></i> Seguridad SST</a></li>
    </ul>

    <p class="menu-label">ADMINISTRACIÓN</p>
    <ul>
      <li><a href="#"><i class="fa-solid fa-users"></i> Usuarios</a></li>
      <li><a href="#"><i class="fa-solid fa-shield-halved"></i> Roles</a></li>
    </ul>
  </nav>

  <div class="logout-section">
    <button class="btn-logout" (click)="onLogout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</button>
  </div>
</div>