<header class="header-container">
    <button class="btn-mobile-menu" (click)="onToggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Buscar proyectos o activos...">
    </div>

    <div class="user-actions">
        <!--<button class="btn-notification"><i class="fa-regular fa-bell"></i></button>-->
        <div class="user-profile">
            <img src="https://ui-avatars.com/api/?name=Admin&background=003B7E&color=fff" alt="Perfil">
        </div>
    </div>
</header>